/*
Syntax error: Invalid US-ASCII character "\xE3"
        on line 5 of /Volumes/takanashi/Projects/Django-GAE/application/static/scss/site.scss

1: /Volumes/takanashi/Projects/Django-GAE/application/static/scss/site.scss

Backtrace:
/Volumes/takanashi/Projects/Django-GAE/application/static/scss/site.scss:5
/Users/Kelp/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/engine.rb:440:in `block in check_encoding!'
/Users/Kelp/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/util.rb:769:in `rescue in block in check_encoding'
/Users/Kelp/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/util.rb:766:in `block in check_encoding'
/Users/Kelp/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/util.rb:765:in `each'
/Users/Kelp/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/util.rb:765:in `each_with_index'
/Users/Kelp/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/util.rb:765:in `check_encoding'
/Users/Kelp/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/util.rb:819:in `check_sass_encoding'
/Users/Kelp/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/engine.rb:439:in `check_encoding!'
/Users/Kelp/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/engine.rb:406:in `_to_tree'
/Users/Kelp/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/engine.rb:274:in `render'
/Users/Kelp/.rvm/gems/ruby-2.1.2/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:171:in `block (2 levels) in compile'
/Users/Kelp/.rvm/gems/ruby-2.1.2/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:153:in `timed'
/Users/Kelp/.rvm/gems/ruby-2.1.2/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:166:in `block in compile'
/Users/Kelp/.rvm/gems/ruby-2.1.2/gems/compass-1.0.0.alpha.19/lib/compass/logger.rb:46:in `red'
/Users/Kelp/.rvm/gems/ruby-2.1.2/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:165:in `compile'
/Users/Kelp/.rvm/gems/ruby-2.1.2/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:144:in `compile_if_required'
/Users/Kelp/.rvm/gems/ruby-2.1.2/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:129:in `block (2 levels) in run'
/Users/Kelp/.rvm/gems/ruby-2.1.2/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:127:in `each'
/Users/Kelp/.rvm/gems/ruby-2.1.2/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:127:in `block in run'
/Users/Kelp/.rvm/gems/ruby-2.1.2/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:153:in `timed'
/Users/Kelp/.rvm/gems/ruby-2.1.2/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:126:in `run'
/Users/Kelp/.rvm/gems/ruby-2.1.2/gems/compass-1.0.0.alpha.19/lib/compass/commands/update_project.rb:49:in `perform'
/Users/Kelp/.rvm/gems/ruby-2.1.2/gems/compass-1.0.0.alpha.19/lib/compass/commands/base.rb:18:in `execute'
/Users/Kelp/.rvm/gems/ruby-2.1.2/gems/compass-1.0.0.alpha.19/lib/compass/commands/project_base.rb:19:in `execute'
/Users/Kelp/.rvm/gems/ruby-2.1.2/gems/compass-1.0.0.alpha.19/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/Kelp/.rvm/gems/ruby-2.1.2/gems/compass-1.0.0.alpha.19/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/Kelp/.rvm/gems/ruby-2.1.2/gems/compass-1.0.0.alpha.19/bin/compass:30:in `block in <top (required)>'
/Users/Kelp/.rvm/gems/ruby-2.1.2/gems/compass-1.0.0.alpha.19/bin/compass:44:in `call'
/Users/Kelp/.rvm/gems/ruby-2.1.2/gems/compass-1.0.0.alpha.19/bin/compass:44:in `<top (required)>'
/Users/Kelp/.rvm/gems/ruby-2.1.2/bin/compass:23:in `load'
/Users/Kelp/.rvm/gems/ruby-2.1.2/bin/compass:23:in `<main>'
/Users/Kelp/.rvm/gems/ruby-2.1.2/bin/ruby_executable_hooks:15:in `eval'
/Users/Kelp/.rvm/gems/ruby-2.1.2/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid US-ASCII character \"\xE3\"\A         on line 5 of /Volumes/takanashi/Projects/Django-GAE/application/static/scss/site.scss\A \A 1: /Volumes/takanashi/Projects/Django-GAE/application/static/scss/site.scss"; }
